/* General CSS */

html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #050f1b; 
}

a {
  color: #050f1b;
}

a:hover {
  color: #050f1b;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.about {
	background: #05324b;
}

.section-2 {
	background-color: #052d46;
}

.skills {
	background-color: #05324b
}

.generaltext {
	background-color: #052d46;
}

.footer {
	background-color: #050f1b;
	padding: 0.5rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.generaltext-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 5px solid #052d46;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #050f1b;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}

/* Skills */

@keyframes load{
  from {
    width: 0%
  }
}

@-webkit-keyframes load{
  from {
    width: 0%
  }
}

@-moz-keyframes load{
  from {
    width: 0%
  }
}

@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
  content:  attr(data-skill);
  background-color: #FF0000;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.back::before{
  background-color: #FFA500;
}
.bar.front::before{
  background-color: #154321;
}

.bar.learning::before{
  width: calc(15%);
}

.bar.basic::before{
  width: calc(25%);
}

.bar.intermediate::before{
  width: calc(69%);
}

.bar.advanced::before{
  width: calc(83%);
}

.bar.expert::before{
  width: calc(100%);
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 1);
	background: rgba(255, 0, 0, 0);
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(135, 135, 135, 0.075);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(135, 135, 135, 0.445);
}
